*{
	margin: 0;
	padding: 0;
	
}
a{
	text-decoration: none;
}

.main{
	width: 100%;
	height: 100vh;
	text-align: center;
	position: relative;
}

.google{
	width: 580px;
	margin: 60px auto 0;
	position: relative;
}





.google input{
	width: 92%;
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 100px;
	margin: 20px 0px;
	outline: none;
	border: 1px solid #ccc;
}
.google input:hover{
	box-shadow: 0 0 3px #5c8d89;
}



.google .btn{
	display: inline-block;

	
}
.google .btn button{
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: #f9f6f7;
	border: none;
	margin-right: 10px;
	color: #488b8f;

}
.google .btn button:hover{
	box-shadow: 0 0 3px #5c8d89;
}

.main .google p{
	font-size: 16px;

}
.main .google a:hover{
	text-decoration: underline;
}

